


</main>
<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">My Blog</h5>
        <p>Share your thoughts and ideas with the world. Create, update, and manage your blog posts easily.</p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-dark">Home</a></li>
          <li><a href="/create" class="text-dark">Create Post</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-primary text-white">
    © 2025 My Blog. All rights reserved.
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>